@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
  font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  color: #f3f3f3;
  size: 5em;
}
h1, h2, h3 {
  font-family: 'Palatino Linotype';
  font-weight: bold;
  color: #f3f3f3;
  line-height: 1.0em;
}
h1 {
  font-size: 60px;
  text-align: center;
}
li {
  font-size: 40px;
  padding-bottom: 1.0em;
}
.remark-slide-content {
  background-color: #272822;
  color: #f3f3f3;
}
.remark-slide-scaler {
  box-shadow: 0 0 0 0;
  webkit-box-shadow: 0 0 0 0;
}
.remark-container {
  background-color: #272822;
  color: #272822;
}
a, a > code {
  color: #4ECDC4;
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  color: #f3f3f3;
}
.remark-inline-code {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  color: black;
  font-size: 75%;
  background-color: lightgray;
}
.remark-code-line-highlighted {
  background-color: #ffff88;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
